{% extends "layout.html" %}

{% block title %}
    Attempt
{% endblock %}

{% block main %}
    <header><strong><mark>Give ID and Pass</mark></strong></header>
    <br>
    <form action="/attempt" method="post">
        <div class="form-group">
            <input class="form-control" name="id" autocomplete="off" placeholder="ID" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="pass" placeholder="Pass for opening" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Attempt</button>
    </form>

{% endblock %}