{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}
    <header><strong><mark>Give Title</mark></strong></header>
    <br>
    <form action="/create" method="post">
        <div class="form-group">
            <input class="form-control" name="title" autocomplete="off" placeholder="Title" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="pass" placeholder="Password for opening" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>

{% endblock %}